<div class="container">
		<div class="jumbotron">
      <div style="text-align: center">
        <h1>Welcome To<br />Vancre Le Monde</h1>
        <p>Improving the world one person at a time</p>
        <br>
      </div>
      <div class="center_text">
        <h3>The Purpose of this is Open Source Learning</h3>
        <p>
          This is the webpage that I started in <a href="https://github.com/scott-rogers2008/VaincreLeMonde/">this github</a>
          that does better at facilitating open discussion and learning (where everyone is both a teacher and student and we learn
          and grow together), the format of github seems to be a good place to start this open learning model. The way that open learning
          with source code is facilitated with the git model is impressive, and I hope to grow from this base to something even more
          useful when it comes to more general knowledge and instruction. I do appreciate sites and learning programs like
          <a href="https://alison.com/">https://alison.com/</a>,
          <a href="https://wisconsinliteracy.org/">https://wisconsinliteracy.org/</a>, and
          <a href="https://germanna.edu/degrees-programs/tuition-free-degrees">https://germanna.edu/degrees-programs/tuition-free-degrees</a>
          (maybe I'll try to create a more complete list or list of lists with open and free learning) I would also like to improve on these
          wherever possible to promote a continuous open education. I would like this to eventually be the ultimate tool (or collection of tools)
          for continuous self/team improvement.<br>
          <br>
        </p>
        <p>
          I also want to focus here on that learning that is most important. There might be some religious and philosophical debate on some of
          what is most important, but I don't want to get dragged into pointless debate over what is actually of real import. I want this to be
          as open, accessible, and accepting as is possible and of genuine help.<br>
          <br>
        </p>
          <h3>How to use this:</h3>
        <p>
          As you look through each of the folders and files and look at what is currently here to help with self/team
          improvement please give me feedback on what is helpful and what isn’t as well as ideas that you might have on
          your process for improvement and what tools you use, or would like to have that help you to grow. The way building
          and improving in github works is through the issue tracker: <a href="https://github.com/scott-rogers2008/VaincreLeMonde/issues">issues</a>
          feel free to add to the issues that are tracked if you have a free github membership or <a href="scott.rogers2008@gmail.com"></a>email me.<br>
          <br>
        </p>
        <p>
          Let’s work together to revolutionize the education system so that continual growth is always sought and not something to
          graduate from. Help continue the process of making it more available to more people. And help pull together those things
          that would make the world a better place for everyone in it.<br>
          <br>
        </p>
        <p>
          I also want to focus here on that learning that is most important. There might be some religious and phylosophical debate
          on some of what is most important, but I don't want to get dragged into pointless debate ove what is actually of real import.
          I want this to be as open, accessible, and accepting as is possible and of genuine help.<br>
          <br>
        </p>
        <h3>The title -- Vancre Le Monde</h3>
        <p>
          I got from  <a href="https://www.churchofjesuschrist.org/study/general-conference/2022/10/47nelson?lang=eng">this talk</a> --
          I think it sounds cooler in French. And I love how the idea of conquering the world by first conquering one’s self is as old as
          time. Plato once said that the conquering of oneself was the first and most important victory. In Eastern traditions the
          conquering of oneself is the alchemy of soul and the ultimate path for mastering anything and found throughout all of Buddhism,
          Taoism, Confucius teachings, etc. There isn’t a religion or school of thought that doesn’t recognize the importance of self-mastery.
          I think that this is a great foundation upon which we can all build together.<br />
          <br />
        </p>
      </div>
		</div>
	</div>
